In [49]:
# import package
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import time

In [50]:
# url and get data test
url = f'https://sites.google.com/a/mail.pces.ilc.edu.tw/100english/{201}-{3}00'
resp = requests.request(method='GET', url=url)#return data table
resp.encoding = 'utf-8'
data = pd.read_html(resp.text, header=0)#return list(length:3)

In [52]:
print("table rows: {} cols:{}".format(data[1].shape[0], data[1].shape[1]))
data[2].head()

table rows: 101 cols:3

    編號     單字 中文解釋
0  201   jump   跳躍
1  202  juice   果汁
2  203   kick    踢
3  204   knee   膝蓋
4  205  knife   刀子

In [53]:
df_list = [] #table list
# loop to get all data
for i in range(3+1):
    url = f'https://sites.google.com/a/mail.pces.ilc.edu.tw/100english/{1+i*100}-{i+1}00'
    resp = requests.request(method='GET', url=url)
    resp.encoding = 'utf-8'
    if(i == 0):
        data = pd.read_html(resp.text, header=1)#need  colnames
    else:
        data = pd.read_html(resp.text, header=0)#don't need  colnames
        
    df = data[2]
    time.sleep(1)
    df_list.append(df)#concat list
df = pd.concat(df_list, axis=0, verify_integrity=True, ignore_index=True)

In [54]:
df.head().style.hide(axis='index')

In [55]:
#output data
fname = 'vocdb.csv'
df.to_csv(fname, sep=',', encoding='utf-8', index=False)

In [56]:
#read data to test
fname = 'vocdb.csv'
vocdb = pd.read_csv(fname, sep=',', encoding='utf-8', engine='python')
vocdb.head().style.hide(axis='index')